body{
    margin: 0px;
    padding: 0px;
}

.container{
    background-color: rgb(59, 59, 130);
    font-family: 'Figtree', sans-serif;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: top;
    padding-top: 10rem;
    gap: 1rem;
}

.title{
    color: white;
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
}

.search-form{
    margin: 0 auto;
}

.search-input{
    width: 20rem;
    margin: 0 auto;
}

.enter-button{
    width: 5rem;
    margin: 0 auto;
    font-weight: 500;
}

.img-container{
    height: 3rem;
    margin: 0 auto;
    /* height: 50%; */
}

.uci-img{
    height: 100%;
}

.main-container{
    font-family: 'Figtree', sans-serif;
    width: 100vw;
    height: 100vh;
}
.corner{
    display: inline-block;
    padding-top: 2rem;
    height: 5%;
    width: 100%;
    padding-left: 1rem;
    background-color: rgb(59, 59, 130);
}

.img-container-corner{
    display: inline-block;
    height: 2em;
    margin-right: 0.5rem;
}

.title-corner{
    font-size: 2rem;
    display: inline-block;
    color: white;
}

.results-container{
    background-color: white;
    overflow: scroll;
}

.results-list{
    list-style: none;
    margin: 0.5rem;
    padding-left: 1rem;
    font-weight: 200;
}

.total{
    padding-left: 1rem;
    font-weight: 600;
}

.resultText {
    font-family: 'Figtree', sans-serif;
}

.pagination-container {
    text-align: center;
}

.pagination-container div {
    display: inline-block;
}
